body {
  color: white;
  background-color: black;
  font-family: Lato, Bradley Hand ITC;
  text-align: center;

}

p {
  font-size:16pt;
}

li {
  padding-bottom: 12px;
  text-align: center;
  font-size:15pt;
  border: 10px solid #fff;
  margin: 30px 100px;
}

h1 {
  color: red;
}

h2 {
  font-size:25pt;
  padding-top: 25px;
  color: blue;
  border: 10spx solid #fff
}

h3 {
  padding-top: 50px;  
}
